<h2>Add a new Poll</h2>

<div class="rightContainer">
  <h3>Here you can add a new Poll.</h3>
  <br>
  <h4>You must fill in the title, and add at least one option.</h4>
  <h4>To add another option click the add another option button.</h4>
  <h4>You can add as many options as you like.</h4>
  <h4>To remove option click the remove option button.</h4>

</div>

<div class="leftContainer">
      <form novalidate (ngSubmit)="onSubmit(poll)" [formGroup]="poll">


        <label >
          <span class="inputLabel">Title:</span>
          <input class="form-control" type="text" formControlName="title">
        </label>
        <div class="error" *ngIf="poll.get('title').hasError('required') && poll.get('title').touched">
          Title and at least one option are required
        </div>

        <div formArrayName="options">
        <div *ngFor="let option of poll.controls.options.controls; let i=index">

           <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
           <div [formGroupName]="i">
             <label>
               <span class="inputLabel">Option:</span>
               <input class="form-control" type="text" formControlName="option">
             </label>
           </div>

           <!-- add remove button -->
           <div>
                <button class="btn btn-default" *ngIf="poll.controls.options.controls.length > 1"
                    (click)="removeOption(i)"> Remove Option
                </button>
            </div>
         </div>
      </div>

      <button class="btn btn-default" type="submit" [disabled]="poll.invalid">Submit</button>

    </form>
    <!--add add button-->
    <button class="btn btn-default" (click)="addOption()">Add another option</button>
  </div>
